.card {
  border: solid black;
  width: 300px;
  height: 300px;
}

.createList{
  float: right;
}

@media (prefers-color-scheme: dark) {
  body {
      background-color: black;
      color: white;
      /* other dark mode styles */
  }
}