.detailSection{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    padding: 60px;
    background-color: #87a1ee66;
    box-sizing: border-box;
}

.detailList{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    max-width: 600px;
    min-height: 400px;
    /* margin: auto; */
    padding: 30px;
    font-size: 24px;
    border: solid #a6f3ff;
    border-radius: 8px;
    overflow-wrap: break-word;
    background-color: rgba(210, 248, 254, .4);
    color: rgb(44, 98, 107);
}

.backButton{
    position: absolute;
    top: 16px;
    left: 16px;
}

.nameAndInputItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}

.name{
    padding: 20px;
    margin-left: 20px;
}
input{
    margin-right: 10px;
    height: 42px;
    padding: 4px;
}
button{
    height: 44px;
    padding: 4px;
    transition: .4s;
    color: rgb(44, 98, 107);
    background-color: rgba(210, 248, 254, .4);
    border: solid #d2f8fe;
    border-radius: 4px;
}

.item-and-button{
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.listItem{
    margin-right: 12px;
}

.editButton{
    margin-right: 12px;
    background-color: rgba(255, 255, 0, 0.4);
    border: solid #ffd700;
}
.removeButton2{
    background-color: rgba(255, 158, 158, 0.4);
    border: solid #f6b1b1;
}
.submitButton{
    background-color: #88e5a366;
    border: solid #98efb1;
}
.form{
    display: flex;
}

@media only screen and (min-width: 576px) {
    .nameAndInputItem{
        display: flex;
        align-items: center;
        margin-bottom: 32px;
    }
}


@media (prefers-color-scheme: dark) {
    body{
        color: #E0E1DD;
    }
    .submitButton, .editButton, .removeButton2, button{
        background-color: #1D3557;
        border: solid #2C5282;
    }

    .detailSection{
        background-color: #0A192F;
    }

    .detailList{
        background-color: #0A192F;
        border: solid #112D4E;
    }

}