.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    height: 64px;
    max-width: 400px;
    min-width: 350px;
    padding: 20px;
    transform: translateX(-50%);
    opacity: 0;
    border: solid #8aefff;
    border-radius: 8px;
    transition: opacity 1s, top .4s;
    background-color: rgba(210, 248, 254, .6);
    z-index: 4;

}

.closeModal{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 158, 158, 0.4);
    border: solid #f6b1b1;
}

input{
    border: solid #d2f8fe;
    border-radius: 4px;
    /* background-color: rgba(230, 251, 254, 0.4); */
}


@media (prefers-color-scheme: dark) {
    body{
        color: #E0E1DD;
    }
    .modal{
      border: solid #112D4E;
      background-color: #1A3B6F;
    }
    button{
      background-color: #1D3557;
      border: solid #2C5282;
    }

}