.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    height: 64px;
    width: 400px;
    padding: 20px;
    transform: translateX(-50%);
    opacity: 0;
    border: solid #8aefff;
    border-radius: 8px;
    transition: opacity 1s, top .4s;
    background-color: rgba(210, 248, 254, .6);

}

.closeModal{
    position: absolute;
    top: 10px;
    right: 10px;
}

input{
    border: solid #d2f8fe;
    border-radius: 4px;
    /* background-color: rgba(230, 251, 254, 0.4); */
}