.navbar{
    display: flex;
    width: 100vw;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    border: solid rgb(179, 198, 255);
    box-sizing: border-box;
    padding-right: 16px;
    padding-left: 16px;
  }
  
.createList{
    /* margin: 0 auto; */
    height: 44px;
    padding: 4px;
    color: rgb(44, 98, 107);
    background-color: #FFFFFF;
    border: solid #d2f8fe;
    border-radius: 4px;
    transition: .4s;
    background-color: rgba(210, 248, 254, .4);
  }


  .logo{
    /* margin-right: auto; */
    height: 70%;
  }

  button{
    cursor: pointer;
  }

  button:hover{
    background-color: rgba(115, 236, 255, 0.4);
  }

  @media (prefers-color-scheme: dark) {
    body{
        color: #E0E1DD;
    }
    .createList{
      border: solid #112D4E;
      background-color: #1D3557;
    }
    .navbar{
      border: solid #112D4E;
    }
    button{
      background-color: #1D3557;
      border: solid #2C5282;
    }

}